.container {
    background: blueviolet;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.item {
    background: yellow;
    width: 100px;
    text-align: center;
    flex-grow: 1;
}

.item-02 {
    flex-basis: 300px;
}
#container-01 {
    flex-direction: column;
}