.container {
    border: 2px solid;
    display: grid;

    grid-template-columns: [primeira-linha-col] 1fr [segunda-linha-col] 1fr [terceira-linha-col] 1fr;/*repeat(3, 1fr)*/
    grid-template-rows: [linha-inicio] 100px [linha-meio] 100px [linha-fim];/*repeat(2, 100px)*/
}

.item {
    text-align: center;
    background-color: blueviolet;
}

/*grid-row-start, grid-column-start, grid-row-end, grid-column-end*/

.selected {
    background-color: aqua;

    /*grid-column: segunda-linha-col / terceira-linha-col; 2 / 2*/
    /*grid-row: linha-meio / linha-fim; 2 / 3*/

    /*grid-area: <row-start>/<column-start>/<row-end>/<column-end>*/
    grid-area: linha-meio / segunda-linha-col / linha-fim / terceira-linha-col;
}
